.SignUp{
    height: 95%;
    padding:2rem; 
    height: 95vh;  
    display:flex;
    flex-direction: column;
    justify-content: center;
 align-items:center; 
 text-align: center;
&__title{
    font-size:3rem;
    margin-bottom:2rem;
    color:rgb(114, 11, 11);
    text-shadow: 0 0 2px rgb(108, 7, 27), 0 0 5px rgb(179, 20, 81),
      0 0 4px rgb(228, 17, 55), 0 0 4px rgb(127, 38, 66),
      0 0 15px rgb(131, 30, 53), 0 0 20px rgb(127, 38, 62),
      0 0 30px rgb(127, 38, 54);    
       @media all and (min-width:1400px){
        font-size: 5rem;
        margin-bottom:4rem;
    }
    @media all and (min-width:2000px){
        font-size: 8rem;
        margin-bottom:10rem;
}
}
&__form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
&__label{
    font-size:1.8rem;
    color:white;
    margin-bottom:1rem;
    @media all and (min-width:1400px){
        font-size: 3rem;
        margin-bottom:2rem;
    }
    @media all and (min-width:2000px){
        font-size: 4rem;
        margin-bottom:3rem;
}
}
&__input{
    padding:0.2rem;
    margin-bottom:1rem;
    border-radius: 5%;
    box-shadow: 0 0 0.5px rgb(108, 7, 27), 0 0 1px rgb(179, 20, 81),
      0 0 2px rgb(228, 17, 55), 0 0 4px rgb(127, 38, 66),
      0 0 15px rgb(131, 30, 53), 0 0 25px rgb(127, 38, 62),
      0 0 50px rgb(127, 38, 54);
      @media all and (min-width:400px){
        width: 20rem;
    }
    @media all and (min-width:1400px){
        width: 30rem;
        padding:0.5rem;
    }
    @media all and (min-width:2000px){
        width: 40rem;
        padding: 1.5rem;
        
}
}
}